<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LDAP Self-Service App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome <span sec:authentication="name">Bob</span>!</h1>
	<p sec:authorize="hasRole('ROLE_ADMINS')" sec:authentication="principal"></p>
	
	<h2>Tasks:</h2>
	<ul>
	<li><a th:href="@{/private/users/password}" th:text="#{changepassword.title}">Change password</a></li>
	<li sec:authorize="hasRole('ROLE_ADMINS')"><a th:href="@{/private/users}">Show users</a></li>
	<li sec:authorize="hasRole('ROLE_ADMINS')"><a th:href="@{/private/users/add}">Add new user</a></li>
	</ul>
    
    <form th:action="@{/logout}" method="post">
    	<input type="submit" value="Sign Out"/>
    </form>
    
</body>
</html>