<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LDAP Self-Service App / Add new user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a th:href="@{/private/home}">Back to home</a>
    <div th:if="${success}">
        <p class="success" style="color: green" th:text="#{add.success}">New user has been added successfully!</p>
    </div>
	<h1>Add new user</h1>
    <form action="#" th:action="@{/private/users}" th:object="${personAddEditForm}" method="post">
		<ul class="error-list" th:if="${#fields.hasErrors('*')}">
		  <li class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		</ul>
		<div class="formElement">
			<label for="givenName">Given name: </label><input type="text" id="givenName" th:field="*{givenName}" />
    		<div class="error" th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="surname">Surname: </label><input type="text" id="surname" th:field="*{surname}" />
    		<div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="uid">User ID (format: givenname.surname): </label><input type="text" id="uid" th:field="*{uid}" />
    		<div class="error" th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="mail">E-Mail: </label><input type="text" id="mail" th:field="*{mail}" />
    		<div class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="userPassword">Password: </label><input type="password" id="userPassword" th:field="*{userPassword}" />
			<div class="error" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Field required</div>		
		</div><br/>
    	<input type="submit" value="Create"/>
    </form>
    
</body>
</html>