<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LDAP Self-Service App / Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a th:href="@{/private/home}">Back to home</a>
    <div th:if="${success}">
        <p class="success" style="color: green" th:text="#{changepassword.success}">Your password has been changed successfully!</p>
    </div>
	<h1 th:text="#{changepassword.title}">Change password</h1>
    <form action="#" th:action="@{/private/users/password}" th:object="${personChangePasswordForm}" method="post">
		<ul class="error-list" th:if="${#fields.hasErrors('*')}">
		  <li class="error" style="color: red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		</ul>
		<div class="formElement">
			<label for="oldpwd" th:text="#{changepassword.oldpwd} + ': '">Old password: </label><input type="password" id="oldpwd" th:field="*{oldpwd}" />
    		<div class="error" style="color: red" th:if="${#fields.hasErrors('oldpwd')}" th:errors="*{oldpwd}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="newpwd" th:text="#{changepassword.newpwd} + ': '">New password: </label><input type="password" id="newpwd" th:field="*{newpwd}" />
			<div class="error" style="color: red" th:if="${#fields.hasErrors('newpwd')}" th:errors="*{newpwd}">Field required</div>		
		</div><br/>
		<div class="formElement">
			<label for="confirmNewpwd" th:text="#{changepassword.repeatpwd} + ': '">Repeat new password: </label><input type="password" id="confirmNewpwd" th:field="*{confirmNewpwd}" />	
		</div><br/>
    	<input type="submit" value="Change"/>
    </form>
    
</body>
</html>