<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LDAP Self-Service App / Edit user details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a th:href="@{/private/users}">Back to user list</a> | <a th:href="@{/private/home}">Back to home</a>
    <div th:if="${success}">
        <p class="success" style="color: green" th:text="#{add.success}">User has been edited successfully!</p>
    </div>
	<h1>Edit user</h1>
    <form action="#" th:action="@{'/private/users/' + ${personAddEditForm.uid}}" th:object="${personAddEditForm}" method="post">
		<ul class="error-list" th:if="${#fields.hasErrors('*')}">
		  <li class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		</ul>
		<div class="formElement">
			<label for="givenName">Given name: </label><input type="text" id="givenName" th:field="*{givenName}" />
    		<div class="error" th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="surname">Surname: </label><input type="text" id="surname" th:field="*{surname}" />
    		<div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="uid">User ID (format: givenname.surname): </label><input type="text" id="uid" th:field="*{uid}" />
    		<div class="error" th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="mail">E-Mail: </label><input type="text" id="mail" th:field="*{mail}" />
    		<div class="error" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Field required</div>
		</div><br/>
		<div class="formElement">
			<label for="userPassword">Password: </label><input type="password" id="userPassword" th:field="*{userPassword}" />
			<div class="error" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Field required</div>		
		</div><br/>
		<div class="formElement">
		<p>Current groups: <span th:text="${groupsOfPerson}">placeholder groups</span></p>
		<p>Set new groups:</p>
			<ul>
			  <li th:each="group : ${allGroups}">
			    <input type="checkbox" th:field="*{groups}" th:value="${group.name}" />
			    <label th:for="${#ids.prev('groups')}" 
			           th:text="${group.name}">placeholder label</label>
			  </li>
			</ul>
		</div><br/>
    	<input type="submit" value="Save"/>
    </form>
    
</body>
</html>