<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LDAP Self-Service App / List users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</head>
<body>
	<a th:href="@{/private/home}">Back to home</a>
	<h1 th:text="${#lists.size(users) + ' users'}">List users</h1>
	<div style="color: green;" class="flash-message-success"></div>
	<div style="color: red;" class="flash-message-error"></div>
	<table>
	<thead>
		<tr>
			<th>Given name</th>
			<th>Surname</th>
			<th>UserId</th>
			<th>Mail</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user : ${users}">
			<td th:text="${user.givenName}">myGivenName</td>
			<td th:text="${user.surname}">mySurname</td>
			<td th:text="${user.uid}">myUid</td>
			<td th:text="${user.mail}">myMail</td>
			<td><a th:href="@{'/private/users/' + ${user.uid}}">Edit</a> | <a href="javascript:void(0);" class="js-remove-user" data-remove-url="" th:attrappend="data-remove-url=@{'/private/users/' + ${user.uid}}">Remove</a></td>
		</tr>
	</tbody>
	</table>
    
</body>
</html>